body {
  color: white;
  font-size: .875rem;
  background: var(--dark);
}

.bg-gray-700 {
background-color: #495057;
}
.bg-gray-800 {
background-color: #343a40;
}
.bg-gray-900 {
background-color: #212529;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
